/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
@font-face {
    font-family: 'brandon';
    src: url('../font/brandongrotesque-bold-webfont.woff2') format('woff2'),
         url('../font/brandongrotesque-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'brandon';
    src: url('../font/brandongrotesque-medium-webfont.woff2') format('woff2'),
         url('../font/brandongrotesque-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
	letter-spacing: 1px;
	background-image: url(../images/background-header.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
		color: white;
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
		color : $white;
	}
}

h1, .h1 {
	text-transform : uppercase;
	margin-bottom: 25px;
	&:after{
		content: "";
    width: 60px;
    height: 6px;
    display: block;
    background-color: $gold;
    margin: 5px 0 0 0;
	}
}

h2, .h2 {
	text-transform : uppercase;
}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}
.p2{
	font-weight: bold;
	color : #878787;
	font-size: 14px;
}
.prod-text{
	font-weight: bold;
	font-size: 27px;
	color  : white;
	text-transform: uppercase;
}
footer{
	font-weight: bold;
	font-size: 20px;
	color: white;
}
/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
}
.menu-mobile{
  background-color: #3c3c3c;
  display:inline-block;
  padding:10px;
  right: 0;
  margin-top:0 !important;
      width: initial !important;
  img{
    width: 34px;
    height: auto;
  }
}
.hide-mobile-menu{
  display: none;
}
#ModalMenu{

  z-index: 1;
  position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.90);
  .menu-mobile-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu{
    display: block;
    text-align: center;
    li{
      display:block;
      margin-bottom: 15px;
      a{
        font-size: 22px;
        font-weight: bold;
      }
      .is-active{
        &:after{
          display: none;
        }
      }
    }
  }
  .social{
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 30px;
    li{
      img{
        height: 20px;
      }
    }
  }
}
.close-button{
  right: 0;
  top: 0;
  font-size: initial;
  .menu-exit{
    background-color: #3c3c3c;
    display:inline-block;
    padding:10px;
    img{
      width: 34px;
      height: auto;
    }
  }
}

	.menu{
		margin-left: 0;
    display: inline-block;
		li {
			a {
				border-bottom: 0px;
				font-size: 12px;
				color : #8f7051;
        text-transform: uppercase;
        position:relative;
			}
			.is-active{
				color : white;
        &:after{
          content: "";
          width: 30px;
          height: 2px;
          bottom: 6px;
          position: absolute;
          display: block;
          background-color: #8f7051;
  			}
			}

		}
		.dropdown {
			margin-left: 20px;
		}
	}
.social{
  display: inline-block;
  margin-bottom: 0;
  margin-right: 40px;
  li{
    display:inline-block;
    a{
      display: inline-block;
      padding: 0 0.5rem ;
    }
    img{
      display: inline-block;
      height : 14px;
      width: auto;
      position: relative;
      top: -2px;
    }
  }
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  z-index: 0;
	#inner-content {
		padding: 1rem 0rem;
	}
}
#normindia{
	padding-bottom: 90px;
	img{
		display: block;
		margin: auto;
		    width: 35%;
	}
}
#histoire{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size:contain;
	padding-bottom: 77px;
  padding-top: 90px;

	.histoire_text{
		margin-bottom: 77px;
		p{
			color: #987654;
		}
	}

	>div div{
		$grid-column-gutter: 50px;
	}
  .chiffre_container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    clear: both;
  }
	.chiffre-content{
    height: 100%;
		border:1px solid #c19b76;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.06);
		text-align: center;
		padding: 65px 15px;
    position:relative;
    max-width: 328px;
    &:after{
      content: "";
      width: 40%;
      height: 10px;
      display: block;
      background-color: #c19b76;
      position: absolute;
      bottom: 55px;
      left: 50%;
      transform: translateX(-50%);
    }

		h1{
			color : $medium-gray;
			text-transform: none;
			margin-bottom: 30px;
			&:after{
				content :"";
				width: 25%;
				height:3px;
				display: block;
				background-color: $gold;
				margin: auto;
			}
		}
		h2{
			color: $red;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p{
			@extend .p2;
		}
	}
}

#production{
	background: #d9d9d9;
	.production-content{
    padding-top:60px;
    padding-right : 40px;
    padding-bottom:110px;

        .production_container{
          display: -ms-flex;
          display: -webkit-flex;
          display: flex;
          clear: both;
        }
	}

	h1{
		margin-bottom: 0px;
		&:after{
			display:none;
		}
	}
	h2{
		color: $medium-gray;
		margin-bottom: 40px;
	}
	.etape-content{
		text-align: center;
    position:relative;
    padding-bottom: 45px;
    &:after{
      content :"";
      width: 40%;
      height: 10px;
      display: block;
      background-color: #c19b76;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
		.miniature{
			&:after{
				content :"";
				width: 30%;
				height:3px;
				display: block;
				background-color: $gold;
				margin: 20px auto 0 auto;
			}
			margin-bottom: 30px;
		}
		.etape-text{
      max-width: 230px;
      margin: auto;
		}
	}
	.production_text_container{
		background-size: cover;
		background-position: center;
		.production_text{
			@extend .prod-text;
			width: 70%;
			margin-left : auto;
      margin-right : auto;
      position:relative;
      top: 50%;
      transform: translateY(-50%);
		}
	}

}
#adn{
	padding-top: 90px;
	padding-bottom: 50px;
	p{
		margin-bottom: 2rem;
	}
	img{
		max-width: 400px;
		height: auto;
		display: block;
		margin: auto;
    width: 100%;
	}
}

#ingredients{
	padding-top: 50px;
	padding-bottom: 50px;
	.ingredient-container{
		.ingredient-contain{
			text-align: center;
			margin-bottom: 40px;
			h2{
				margin-top: 10px;
			}
		}
	}
}
#batch{
	padding-top: 50px;
	padding-bottom: 90px;
	img{
		display: block;
		margin: auto;
	}
  .chiffre_container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    clear: both;
  }
	.chiffre-content{
		text-align: center;
		padding: 20px 15px 65px 15px;
    position:relative;

    &:after{
      content: "";
      width: 40%;
      height: 10px;
      display: block;
      background-color: #c19b76;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
    }

		h1{
			color : $medium-gray;
			text-transform: none;
			margin-bottom: 30px;
			&:after{
				content :"";
				width: 30%;
				height:3px;
				display: block;
				background-color: $gold;
				margin: auto;
			}
		}
		h2{
			color: $red;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p{
			@extend .p2;
      max-width: 150px;
      margin: auto;

		}
	}
}
// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

#age{
  background-color: #f2f2f2;
  max-width: 450px;
  padding:40px;
  .age-container{
    text-align: center;
      .alert{
        margin-top: 30px;
        text-transform: uppercase;
        color: #b09970;
      }
      .language{
        margin-top: 30px;
      }
      label{
        text-align: left;
        text-transform: uppercase;
      }
      select{
        border:1px solid $medium-gray !important;
      }
      .wpcf7{
        margin-top: 15px;
      }
      #age-validation{
        input{
          margin-right: 10px;
        }
        text-align: left;
        line-height: 0.4;
      }
      #age-verification{
        background-color: #aeabaa;
        text-transform: uppercase;
        float : right;
        padding: 10px 20px;
        margin-top: 20px;
      }
  }
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}


/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
	#inner-footer{
		padding: 60px 0 60px 0;
	}
	h1{
		@extend .prod-text;
		margin-bottom: 10px;
		&:after{
			display: none;
		}
	}
	.footer-left{

		h2{
			color: white;
			text-transform: none;
			margin-top: 10px;
			margin-bottom: 0px;
		}
		.telephone{
			margin-bottom: 0;
			line-height: 1.2;
		}
	}
	.footer-right{
		h2{
			color: white;
			text-transform: none;
			margin-top: 0;
			margin-bottom: 0px;
		}
		a{
			display: block;
		}
	}
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
RESPONSIVE
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

@include breakpoint(medium only) {
  .medium-0{
    display:none;
  }
  #histoire{
    background-size: auto;
  }
  #production .production_text_container .production_text{
    font-size: 20px;
  }
  #batch{
    .chiffre_container{
      display: block;
    }
    .titre-small{
      margin-bottom: 40px;
    }
  }
  footer{
    font-size: 16px;
  }
  .menu{
    a{
      padding : 0.7rem 0.4rem;
    }
  }
  .social{
    margin-right: 10px;
  }
  #normindia{
  	img{
  		    width: 70%;
  	}
  }
}
@include breakpoint(small only) {
  body{
    background-image: url(../images/background-header-mobile.png);
    background-size: 100% auto;
  }
  #histoire{
    background-size: auto;
  }
  #histoire .chiffre_container{
    display : block;
    .chiffre-content{
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #batch{
    .chiffre_container{
      display: block;
    }
  }
  .medium-0{
    display:none;
  }
  #production{
    .production-content{
      padding-right: 0;
      .production_container{
        display: block;
      }
    }
    .production_text_container{
      height: auto !important;
      padding: 40px 0;
      .production_text{
        top : 0;
        transform: translateY(0);
      }
    }
  }
  #normindia{
    img{
          width: 80%;
    }
  }
  footer{
    text-align: center;
  }
  .footer-right{
    margin-top: 40px;
  }
}
@include breakpoint(760) {
  body{
    background-image: url(../images/background-header-small.png);
    background-size: 123% auto;
  }
}
@include breakpoint(900) {
  body{
    background-image: url(../images/background-header-small.png);
    background-size: 108% auto;
  }
}
@include breakpoint(1024) {
  body{
    background-image: url(../images/background-header.png);
    background-size: 116% auto;
  }
}
@include breakpoint(1200) {
  body{
    background-size: 108% auto;
  }
}
@include breakpoint(1350) {
  body{
    background-size: 100% auto;
  }
}
@include breakpoint(1500) {
  body{
    background-image: url(../images/background-header-large.png);
    background-size: 100% auto;
  }
}
@include breakpoint(1800) {
  body{
    background-image: url(../images/background-header-large2.png);
    background-size: 100% auto;
  }
}
